.user-card-avatar {
  position: absolute;
  display: flex;
  flex: 0 0 auto;
  height: 4rem;
  width: 4rem;
  top: calc(50% - 1.5rem);
  left: calc(50% - 3rem);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: solid 15px transparent;
  filter: drop-shadow(0 0 10px #8c8c8c);
  z-index: 10;
}
